.guide {
    grid-area: guide;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.guide-list {
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    overflow-y: scroll;
}

.guide-group {
    margin: 20px 0;
}

@media screen and (max-width: 1300px) {
    .guide {
        margin-top: 100px;
        width: 90vw;
    }

    .guide-list {
        height: auto;
    
        overflow-y: hidden;
    }
}