:root {
  /* Palette di colori */

  --text: #fdd5e8;
  --links: #fdd5e8;
  --background: #140c10;
  --background-card: #1e1118;
  --primary: #f86fb7;
  --secondary: #984c08;
  --accent: #f4c726;

  /* Settings generici */

  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--background);
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  font-family: 'Poppins', sans-serif;
  color: var(--links);
  text-decoration: none;
}

a:hover {
  background: linear-gradient(90deg, var(--primary), var(--accent));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

@media screen and (max-width: 1300px) {
  body {
    overflow-y: scroll;
  } 
}
